# Hugo build output
/public

# Hugo cache and resources
/resources/

# OS files
.DS_Store

# Node / tooling
node_modules/

# IDE/editor
.vscode/
.idea/

# Python virtualenv
venv/
env/
.pyenv/

# Misc
*.log
