<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <link rel="icon" type="image/svg+xml" href='{{ "favicon.svg" | relURL }}'>
    <link rel="icon" type="image/x-icon" href='{{ "favicon.ico" | relURL }}'>
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href='{{ "style.css" | relURL }}'>
    <link rel="canonical" href="{{ if .IsHome }}{{ .Site.Params.otherURL }}{{ else }}{{ .Permalink }}{{ end }}">
    <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
    <meta property="og:url" content="{{ if .IsHome }}{{ .Site.Params.otherURL }}{{ else }}{{ .Permalink }}{{ end }}">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
    <meta property="og:image" content='{{ "images/hydrotherapie-eaux-vives.webp" | absURL }}'>
    <meta property="og:locale" content="{{ .Site.LanguageCode }}">
    <meta property="og:type" content="website">
    <script type="application/ld+json">
    {{ (readFile "static/hydrotherapie-eaux-vives.jsonld") | safeJS }}
    </script>
</head>

<body>
    {{ block "main" . }}{{ end }}
    <script src='{{ "scripts.js" | relURL }}'></script>
    <script src='{{ "helpers.js" | relURL }}'></script>
{{/*<!--
-->*/}}
</body>

</html>