{{ define "main" }}

<!-- Section Header -->
{{ with .Site.GetPage "01/header" }}
{{ .Content | safeHTML }}
{{ end }}

<!-- Section Accueil -->
<section id="accueil" class="section">
    <div class="container dark-box">
        {{ with .Site.GetPage "02/accueil" }}
        {{ .Content | safeHTML }}
        {{ end }}
    </div>
    <a href="#presentation" class="cta-button" data-section="presentation">Présentation</a>
</section>

<!-- Section Présentation -->
<section id="presentation" class="section">

<!--
    <div class="parallax-bg" style="background-image: url('./images/fond-2.webp'); top:-1000px"></div>
-->
    <video autoplay loop muted playsinline class="parallax-bg" style="object-fit:cover; top:-1000px">
        <source src="https://media.gettyimages.com/id/1655701480/fr/vid%C3%A9o/vague-en-silhouette-se-d%C3%A9tachant-dune-pointe-rocheuse-le-long-de-la-c%C3%B4te-dans-la-lumi%C3%A8re-du.mp4?s=mp4-640x640-gi&k=20&c=fNEOhyt9UUOVazEAe4EfkUA6jNr20Epwf575gwvbCIY=" type="video/mp4">
    </video>

    <div class="container dark-box">
        {{ with .Site.GetPage "03/presentation" }}
        <h2 class="section-title">{{ .Title }}</h2>
        <div class="section-content">
            {{ .Content | safeHTML }}
        </div>
        {{ end }}
    </div>
</section>

<!-- Section Thérapies & Massages -->
<section id="therapies-massages" class="section">
    <div class="container">
        <h2 class="section-title">Thérapies & Massages</h2>
        <div class="section-content">
            <div class="services-grid">
                <div class="section-content">
                    <div class="services-grid">
                        {{- /* Render each therapy page from the `therapies` section in filename order */ -}}
                        {{- $therapies := where .Site.RegularPages "Section" "04" -}}
                        {{- range sort $therapies "File.LogicalName" "asc" -}}
                        <div class="service-card">
                            {{ .Content | safeHTML }}
                        </div>
                        {{- end -}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Contact -->
<section id="contact-infos" class="section">
    <div class="container">
        <h2 class="section-title">Contact & Infos</h2>
        <div class="section-content">
            <div class="contact-items">
                {{ with .Site.GetPage "05/contact" }}
                {{ .Content | safeHTML }}
                {{ end }}
            </div>
        </div>
    </div>
</section>

<!-- Section Footer -->
<footer id="footer">
    {{ with .Site.GetPage "06/footer" }}
    {{ .Content | safeHTML }}
    {{ end }}
</footer>

{{ end }}