{{ define "main" }}

<!-- Section Header -->
{{ with .Site.GetPage "01/header" }}
{{ .Content | safeHTML }}
{{ end }}

<!-- Section Accueil -->
<section id="accueil" class="section">
    <div class="container">
        <div class="dark-box">
            {{ with .Site.GetPage "02/accueil" }}
            {{ .Content | safeHTML }}
            {{ end }}
        </div>
        <a href="#presentation" class="cta-button" data-section="presentation">Présentation</a>
    </div>
</section>

<!-- Section Présentation -->
<section id="presentation" class="section">

    <div class="parallax-bg" style="background-image: url('./images/fond-2.webp'); top:-1000px"></div>

    <div class="section-overlay"></div>
    <div class="container dark-box">
        {{ with .Site.GetPage "03/presentation" }}
        <h2 class="section-title">{{ .Title }}</h2>
        <div class="section-content">
            {{ .Content | safeHTML }}
        </div>
        {{ end }}
    </div>
</section>

<!-- Section Thérapies & Massages -->
<section id="therapies-massages" class="section">
    <div class="container">
        <h2 class="section-title">Thérapies & Massages</h2>
        <div class="section-content">
            <div class="services-grid">
                <div class="section-content">
                    <div class="services-grid">
                        {{- /* Render each therapy page from the `therapies` section in filename order */ -}}
                        {{- $therapies := where .Site.RegularPages "Section" "04" -}}
                        {{- range sort $therapies "File.LogicalName" "asc" -}}
                        <div class="service-card">
                            {{ .Content | safeHTML }}
                        </div>
                        {{- end -}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Contact -->
<section id="contact-infos" class="section">
    <div class="container">
        <h2 class="section-title">Contact & Infos</h2>
        <div class="section-content">
            <div class="contact-items">
                {{ with .Site.GetPage "05/contact" }}
                {{ .Content | safeHTML }}
                {{ end }}
            </div>
        </div>
    </div>

    <!-- Section Footer -->
    {{ with .Site.GetPage "06/footer" }}
    {{ .Content | safeHTML }}
    {{ end }}
</section>


{{ end }}